@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?22996415');
  src: url('../font/fontello.eot?22996415#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?22996415') format('woff2'),
       url('../font/fontello.woff?22996415') format('woff'),
       url('../font/fontello.ttf?22996415') format('truetype'),
       url('../font/fontello.svg?22996415#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?22996415#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-ok:before { content: '\e800'; } /* '' */
.icon-th-list:before { content: '\e801'; } /* '' */
.icon-th:before { content: '\e802'; } /* '' */
.icon-th-large:before { content: '\e803'; } /* '' */
.icon-ok-circled2:before { content: '\e804'; } /* '' */
.icon-ok-circled:before { content: '\e805'; } /* '' */
.icon-cancel:before { content: '\e806'; } /* '' */
.icon-cancel-circled:before { content: '\e807'; } /* '' */
.icon-cancel-circled2:before { content: '\e808'; } /* '' */
.icon-plus:before { content: '\e809'; } /* '' */
.icon-plus-circled:before { content: '\e80a'; } /* '' */
.icon-download:before { content: '\e80b'; } /* '' */
.icon-upload:before { content: '\e80c'; } /* '' */
.icon-phone:before { content: '\e80d'; } /* '' */
.icon-cog:before { content: '\e80e'; } /* '' */
.icon-cog-alt:before { content: '\e80f'; } /* '' */
.icon-wrench:before { content: '\e810'; } /* '' */
.icon-play:before { content: '\e811'; } /* '' */
.icon-play-circled2:before { content: '\e812'; } /* '' */
.icon-chart-bar:before { content: '\e813'; } /* '' */
.icon-signal:before { content: '\e814'; } /* '' */
.icon-target:before { content: '\e815'; } /* '' */
.icon-globe:before { content: '\e816'; } /* '' */
.icon-inbox:before { content: '\e817'; } /* '' */
.icon-eye-off:before { content: '\e818'; } /* '' */
.icon-eye:before { content: '\e819'; } /* '' */
.icon-lock-open:before { content: '\e81a'; } /* '' */
.icon-lock:before { content: '\e81b'; } /* '' */
.icon-attach:before { content: '\e81c'; } /* '' */
.icon-help-circled:before { content: '\e81d'; } /* '' */
.icon-info-circled:before { content: '\e81e'; } /* '' */
.icon-home:before { content: '\e81f'; } /* '' */
.icon-minus-circled:before { content: '\e820'; } /* '' */
.icon-heart:before { content: '\e821'; } /* '' */
.icon-heart-empty:before { content: '\e822'; } /* '' */
.icon-star:before { content: '\e823'; } /* '' */
.icon-user:before { content: '\e824'; } /* '' */
.icon-users:before { content: '\e825'; } /* '' */
.icon-forward:before { content: '\e826'; } /* '' */
.icon-bell:before { content: '\e827'; } /* '' */
.icon-chat:before { content: '\e828'; } /* '' */
.icon-comment:before { content: '\e829'; } /* '' */
.icon-thumbs-up:before { content: '\e82a'; } /* '' */
.icon-thumbs-down:before { content: '\e82b'; } /* '' */
.icon-link:before { content: '\e82c'; } /* '' */
.icon-bookmark:before { content: '\e82d'; } /* '' */
.icon-tags:before { content: '\e82e'; } /* '' */
.icon-flag:before { content: '\e82f'; } /* '' */
.icon-pencil:before { content: '\e830'; } /* '' */
.icon-print:before { content: '\e831'; } /* '' */
.icon-retweet:before { content: '\e832'; } /* '' */
.icon-trash-empty:before { content: '\e833'; } /* '' */
.icon-location:before { content: '\e834'; } /* '' */
.icon-attention-circled:before { content: '\e835'; } /* '' */
.icon-folder-open:before { content: '\e836'; } /* '' */
.icon-list:before { content: '\e837'; } /* '' */
.icon-align-justify:before { content: '\e838'; } /* '' */
.icon-indent-left:before { content: '\e839'; } /* '' */
.icon-indent-right:before { content: '\e83a'; } /* '' */
.icon-align-right:before { content: '\e83b'; } /* '' */
.icon-align-center:before { content: '\e83c'; } /* '' */
.icon-align-left:before { content: '\e83d'; } /* '' */
.icon-glass:before { content: '\e83e'; } /* '' */
.icon-star-empty:before { content: '\e83f'; } /* '' */
.icon-star-half:before { content: '\e840'; } /* '' */
.icon-search:before { content: '\e841'; } /* '' */
.icon-mail:before { content: '\e842'; } /* '' */
.icon-picture:before { content: '\e843'; } /* '' */
.icon-videocam:before { content: '\e844'; } /* '' */
.icon-video:before { content: '\e845'; } /* '' */
.icon-camera:before { content: '\e846'; } /* '' */
.icon-minus:before { content: '\e847'; } /* '' */
.icon-pin:before { content: '\e848'; } /* '' */
.icon-tag:before { content: '\e849'; } /* '' */
.icon-off:before { content: '\e84a'; } /* '' */
.icon-tools:before { content: '\e84b'; } /* '' */
.icon-minus-squared-1:before { content: '\e84c'; } /* '' */
.icon-user-1:before { content: '\e84d'; } /* '' */
.icon-user-add:before { content: '\e84e'; } /* '' */
.icon-users-1:before { content: '\e84f'; } /* '' */
.icon-home-1:before { content: '\e850'; } /* '' */
.icon-check:before { content: '\e851'; } /* '' */
.icon-cancel-1:before { content: '\e852'; } /* '' */
.icon-menu-1:before { content: '\e853'; } /* '' */
.icon-layout:before { content: '\e854'; } /* '' */
.icon-picture-1:before { content: '\e855'; } /* '' */
.icon-login:before { content: '\e856'; } /* '' */
.icon-logout:before { content: '\e857'; } /* '' */
.icon-archive:before { content: '\e858'; } /* '' */
.icon-folder:before { content: '\e859'; } /* '' */
.icon-box:before { content: '\e85a'; } /* '' */
.icon-air:before { content: '\e85b'; } /* '' */
.icon-list-1:before { content: '\e85c'; } /* '' */
.icon-graduation-cap:before { content: '\e85d'; } /* '' */
.icon-globe-1:before { content: '\e85e'; } /* '' */
.icon-install:before { content: '\e85f'; } /* '' */
.icon-database:before { content: '\e860'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-bookmark-empty:before { content: '\f097'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-tasks:before { content: '\f0ae'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-list-numbered:before { content: '\f0cb'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-gauge:before { content: '\f0e4'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-sitemap:before { content: '\f0e8'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-quote-left:before { content: '\f10d'; } /* '' */
.icon-spinner:before { content: '\f110'; } /* '' */
.icon-reply:before { content: '\f112'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-keyboard:before { content: '\f11c'; } /* '' */
.icon-flag-empty:before { content: '\f11d'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-reply-all:before { content: '\f122'; } /* '' */
.icon-direction:before { content: '\f124'; } /* '' */
.icon-unlink:before { content: '\f127'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-rss-squared:before { content: '\f143'; } /* '' */
.icon-play-circled:before { content: '\f144'; } /* '' */
.icon-minus-squared:before { content: '\f146'; } /* '' */
.icon-minus-squared-alt:before { content: '\f147'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-pencil-squared:before { content: '\f14b'; } /* '' */
.icon-link-ext-alt:before { content: '\f14c'; } /* '' */
.icon-compass:before { content: '\f14e'; } /* '' */
.icon-sort-alt-up:before { content: '\f160'; } /* '' */
.icon-sort-alt-down:before { content: '\f161'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-thumbs-down-alt:before { content: '\f165'; } /* '' */
.icon-stackoverflow:before { content: '\f16c'; } /* '' */
.icon-stackexchange:before { content: '\f18d'; } /* '' */
.icon-plus-squared-alt:before { content: '\f196'; } /* '' */
.icon-mail-squared:before { content: '\f199'; } /* '' */
.icon-digg:before { content: '\f1a6'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-file-powerpoint:before { content: '\f1c4'; } /* '' */
.icon-file-image:before { content: '\f1c5'; } /* '' */
.icon-file-audio:before { content: '\f1c7'; } /* '' */
.icon-file-video:before { content: '\f1c8'; } /* '' */
.icon-file-code:before { content: '\f1c9'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-cc-visa:before { content: '\f1f0'; } /* '' */
.icon-cc-mastercard:before { content: '\f1f1'; } /* '' */
.icon-bell-off:before { content: '\f1f6'; } /* '' */
.icon-bell-off-empty:before { content: '\f1f7'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-chart-area:before { content: '\f1fe'; } /* '' */
.icon-chart-pie:before { content: '\f200'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
.icon-toggle-off:before { content: '\f204'; } /* '' */
.icon-toggle-on:before { content: '\f205'; } /* '' */
.icon-leanpub:before { content: '\f212'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */
.icon-hourglass-1:before { content: '\f251'; } /* '' */
.icon-hourglass-2:before { content: '\f252'; } /* '' */
.icon-hourglass-3:before { content: '\f253'; } /* '' */
.icon-hourglass:before { content: '\f254'; } /* '' */
.icon-map-o:before { content: '\f278'; } /* '' */
.icon-map:before { content: '\f279'; } /* '' */
.icon-commenting:before { content: '\f27a'; } /* '' */
.icon-edge:before { content: '\f282'; } /* '' */
.icon-usb:before { content: '\f287'; } /* '' */
.icon-mixcloud:before { content: '\f289'; } /* '' */
.icon-hashtag:before { content: '\f292'; } /* '' */
.icon-bluetooth:before { content: '\f293'; } /* '' */
.icon-bluetooth-b:before { content: '\f294'; } /* '' */
.icon-percent:before { content: '\f295'; } /* '' */
.icon-low-vision:before { content: '\f2a8'; } /* '' */
.icon-envelope-open:before { content: '\f2b6'; } /* '' */
.icon-envelope-open-o:before { content: '\f2b7'; } /* '' */
.icon-address-book:before { content: '\f2b9'; } /* '' */
.icon-address-book-o:before { content: '\f2ba'; } /* '' */
.icon-address-card:before { content: '\f2bb'; } /* '' */
.icon-address-card-o:before { content: '\f2bc'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
.icon-id-badge:before { content: '\f2c1'; } /* '' */
.icon-id-card:before { content: '\f2c2'; } /* '' */
.icon-id-card-o:before { content: '\f2c3'; } /* '' */
.icon-podcast:before { content: '\f2ce'; } /* '' */
.icon-window-maximize:before { content: '\f2d0'; } /* '' */
.icon-ravelry:before { content: '\f2d9'; } /* '' */
.icon-eercast:before { content: '\f2da'; } /* '' */
.icon-superpowers:before { content: '\f2dd'; } /* '' */
.icon-wpexplorer:before { content: '\f2de'; } /* '' */
.icon-github:before { content: '\f300'; } /* '' */
.icon-github-circled:before { content: '\f301'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
.icon-tumblr:before { content: '\f315'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */